.mocha{
    background-color: rgba(66, 37, 1);
}
.mochaa{
    background-color: rgb(101, 56, 1, 0.9);
}
.moch{
    background-color:rgb(133, 67, 1);
}
body{
    
    
    background-size: cover;
    background-color: rgb(133, 67, 1);
}
.new_font{
    color:white;
    font-family: 'Georgia', serif;
    color:white;
}
.nav-item {
    color: white !important;
}

#back {
    background-image:url('fff.gif');
}